<div class="row">
<div class="small-2 columns">

	<div  ng-include="'components/sidenavbar/sidenavbar.html'"></div>

</div>

<div class="small-10 columns">

<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  
  <p>
  
<div class="row">

	<div class="large-12 columns">
	
		<div ng-repeat="fortuneteller in allfortunetellers"  ng-click="selectFortuneteller(fortuneteller)">
				
				
			<div class="row">
				<div class="small-8 columns">				
  					<img ng-src="assets/images/shadow-fortuneteller{{fortuneteller.Id}}.jpg"/>
  				</div>
				<div class="small-4 columns">
					<div class='taillerinfo'>
						<p class='bigphone'>{{fortuneteller.Phone}}</p>
						<div class='bigname'>{{fortuneteller.Name}}</div>
						<div class='bigname'>{{fortuneteller.Location}} </div>
					</div>
				</div>

			</div>

</div>



</div>

</div> <!-- row -->
</div><!-- container -->

</div>
</div>