<div class="row">
<div class="small-2 columns">

<div ng-include="'components/sidenavbar/sidenavbar.html'"></div>

</div>

<div class="small-10 columns">

<div class="container">

 <div ng-include="'components/navbar/navbar.html'"></div>
 
        <img class="right" ng-src="assets/images/{{zodiac.image}}.png" alt="{{zodiac.name}}">
        <div class="caption">
          <h3>{{zodiac.name}}</h3>
   <!--        <p>{{zodiac.defzodiac}}</p> -->
          
  <!--         <div	ng-repeat="info in extinfo.data.query.results.p |filter:{info.indexOf('{"img:') === 0)}" >  -->
  <!-- 			<div ng-repeat="info in extinfo.data.query.results.p | filter:info.indexOf('{') !==0" > -->
  <!-- 		<div ng-repeat="info in extinfo.data.query.results.p |filter:.indexOf('{') !==0"  > --> 
  			<div ng-repeat="info in extinfo.data.query.results.p " >
          <p>{{info | check_if_text}}</p>
          
           </div>
          
        </div>
 
 
</div>


</div>

</div>